.container {
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 960px;
}

.options-box {
  width: 100%;
  position: relative;
  padding: 36px;
  border: 3px dotted #aaa;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  & > i {
    position: absolute;
    left: 60px;
    font-size: 2rem;
    color: #ccc;
  }

  .options {
    // width: 100%;
    display: flex;
    gap: 1rem;
  }
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}