.container {
  width: 280px;
  height: 200px;
  border: 2px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;

  i {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}