.secondbar {
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  background-color: #F4F4F4;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 1rem 0 3rem;
}

.questions {
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 960px;
  // border: 1px solid #333;

}

.section {
  margin-bottom: 3rem;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

  h2 {
    margin: 0;
    padding: 0;
    margin-right: 2rem;
  }

  hr {
    flex-grow: 1;
    height: 2px;
  }
}

.formcontrol {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;

  span {
    width: 180px;
  }

  input[type=text] {
    padding: 6px;
    border: 1px solid #555;
    border-radius: 4px;
    flex-grow: 1;
  }

  textarea {
    flex-grow: 1;
    height: 80px;
    padding: 6px;
    border-radius: 4px;
  }
} 

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}