.formcontrol {
  width: 100%;
  margin-bottom: 0.6rem;
}

.add {
  background: none;
  border: none;
  cursor: pointer;
  color: #999;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    margin-right: 0.6rem;
  }
}
